<br>
<div class="container">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">TITLE</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Description</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

<div class="hr">Or</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Keywords</span>
  </div>
  <textarea id="keywords" rows="1" cols="1" class="form-control" aria-label="With textarea"></textarea>
</div>
</div>
