<mat-divider></mat-divider>
<div class="container">
<form class="form">
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input required #title matInput value="" placeholder="Coding" >
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Description</mat-label>
    <textarea value="" #description matInput placeholder="Complete Angular Component of Create Todo"></textarea>
  </mat-form-field>

</form>
<mat-form-field class="chip-list">
  <mat-chip-list #chipList aria-label="keyword selection">
    <mat-chip *ngFor="let keyword of keywords" [selectable]="selectable"
             [removable]="removable" (removed)="remove(keyword)">
      {{keyword.name}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input matTooltip="press enter after each word" #keywordInput placeholder="press enter after each keyword..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>    <button mat-raised-button color="primary"
(click)="data(description,title,keywordInput)"
>Submit</button>


</div>